body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
    font-size: 20px;
    line-height: 1;
  }
  
  textarea{
    background: cornflowerblue;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
  }

  
  .col-lg-4 {
    display: none;
  }
  
  .bottom {
    text-align: center;
  }
  @media screen and (max-width: 1000px) {
  
    .col-lg-10 {
        width: 460px;  
    }
  
    .col-lg-1 {
      width: 110px;
    }
  
    .row {
    width: 700px ;
    }
  
  }
  
  @media screen and (max-width: 710px) {
  
    .col-lg-10 {
        width: 382px;  
    }
  
    .col-lg-1 {
      width: 58px;
    }
  
    .row {
    width: 500px ;
    }
  
    .textarea {
      font-size: x-small;
    }
  
  }
  
  @media screen and (max-width: 510px) {
  
    .col-lg-10 {
        width: 254px;  
    }
  
    .col-lg-1 {
      width: 50px;
    }
  
    .row {
    width: 355px ;
    }
  
    .hour {
      font-size: small;
    }
    
  }